<!-- <p>Find me in app/views/cohort/index.html.erb</p> -->
<h1>Cohort#index</h1>
  <% @cohorts.each  do |c| %>
    <%= c.name %><br>
    <%= c.start_date %><br>
    <%= c.end_date %><br>
    <%= c.instructor%><br>
    <%= c.courses_id%><br>
    <% c.id%>
    <%= link_to "Edit", edit_cohort_path(c.id) %><br>
    <%= link_to "Create New", new_cohort_path %><br>
    <%= link_to 'Destroy', cohort_path(c.id),
                 method: :delete,
                 data: { confirm: 'Are you sure?' } %><br>
  <% end %>
