<!-- <h1>Instructors#show</h1>
<p>Find me in app/views/instructors/show.html.erb</p> -->
<div class="mainview">
  <div class="form-center-new-student">
    Instructors<br>
    <%= link_to 'Edit', edit_instructor_path %><br>
    <%= link_to "Instructors Index", instructors_path %><br>
    <%= link_to "Create New", new_instructor_path %><br>


    First Name: &nbsp&nbsp <%= @instructor.first_name %> <br>
    Last Name: &nbsp &nbsp <%= @instructor.last_name %> <br>
    Email: &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <%= @instructor.email %> <br>
    Age: &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp &nbsp &nbsp <%= @instructor.age %> <br>
    Education: &nbsp &nbsp&nbsp <%= @instructor.education %> <br>
    Salary: &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp $  <%= @instructor.salary %> <br>

    <hb>
    </div>
  </div>
