 <div class="mainview">
     <div class="form-center-new-student">
     Profile for <%= @user.full_name %><br>


    <!-- <%= link_to "Edit", edit_user_path %><br> -->

    First Name: &nbsp&nbsp <%= @user.first_name %> <br>
    Last Name: &nbsp &nbsp <%= @user.last_name %> <br>
    Email: &nbsp &nbsp &nbsp &nbsp &nbsp&nbsp <%= @user.email %> <br>
</div>
</div>
