<!-- <p>Find me in app/views/pages/home.html.erb</p> -->
<div class="mainview">
  <%if logged_in? %>
    <h1 class="titledown">Cool Kids Academy</h1>
    <h1 class="home-welcome">Hey, <%= "#{current_user.first_name}"%>! Welcome back!</h1>
    <h1   class="home-welcome">Create a New: </h1>
    <div class="login-home">
      <%= link_to 'Student', new_student_path %><br>
      <%= link_to 'Instructor', new_instructor_path %><br>
      <%= link_to 'Course', new_course_path %><br>
      <%= link_to 'Cohort', new_cohort_path %><br>
    </div>
    <% else %>
      <h1 class="titledown">Welcome to Cool Kids Academy</h1>
      <p class="direction">Please select your action from the left navigation panel </p>
    <%end %>
</div>
